{ "extends": ["eslint-config-airbnb-base"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "import/no-unresolved": [2, {"commonjs": true}],
    "import/no-named-as-default": 2,
    "no-console": 1,
    "class-methods-use-this": 0,
    "no-alert": 2,
    "arrow-body-style": [2, "as-needed"],
    "no-confusing-arrow": [2, {"allowParens": true}]
  },
  "plugins": [
    "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules"]
    }
  }
}
