<footer class="page-footer">
    <div class="container">
        <div class="row">
            <figure class="logo">
                <a href="#">
                    <img src="images/logo.svg">
                </a>
            </figure>
            <nav class="footer-menu">
                <ul>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                    <li><a href="#">Link 5</a></li>
                    <li><a href="#">Link 6</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
