<header class="page-header">
    <div class="container">
        <figure class="logo">
            <a href="#">
                <img src="images/logo.svg">
            </a>
        </figure>
        <nav class="main-menu">
            <ul class="grid">
                <li>
                    <a href="#">Link 1</a>
                </li>
                <li>
                    <a href="#">Link 2</a>
                </li>
                <li>
                    <a href="#">Link 3</a>
                </li>
                <li>
                    <a href="#">Link 4</a>
                </li>
            </ul>
        </nav>
        <div class="mobile-menu"></div>
    </div>
</header>
