.page-footer {
  @include cf();
	width: 100%;
	height: 60px;
	border-top: 1px solid #d7d7d7;
	background: #f7f7f7;
	.logo {
		@include col(1/4);
		display: inline-block;
		width: 140px;
		height: 44px;
		margin: 8px 0;
    img {
      display: block;
      height: 100%;
      width: auto;
    }
	}
	.footer-menu {
		@include col(3/4);
		ul {
      margin: 0;
			text-align: right;
		}
		li {
			display: inline-block;
			&>a {
				display: block;
				padding: 18px;
			}
		}
	}
}

.page-wrap {
	margin-bottom: -61px;
	padding-bottom: 61px;
}
