/*
 * Forms and form fields
 */

/* Input style */
input,
button,
select {
    vertical-align: middle;
    outline: none;
}

textarea {
  vertical-align: top;
  outline: none;
}

button,
select,
label,
input[type="reset"],
input[type="button"],
input[type="image"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

button[disabled],
select[disabled],
label[disabled],
input[disabled][type="reset"],
input[disabled][type="button"],
input[disabled][type="image"],
input[disabled][type="submit"],
input[disabled][type="radio"],
input[disabled][type="checkbox"] {
  cursor: default;
}

input[type="search"] {
  box-sizing: border-box; // overwrite normalize
}

select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="color"] {
  width: 100%;
}
