// Import gridle
@import 'gridle';

// context : 12,            # number of columns in your grid
// column-width : null,     # by default it's percentage based depending on the context but you can specify a column width yourself
// gutter-width : 20px,     # size of the gutters
// gutter-height : 0,       # size of top and bottom gutters
// gutter-top    : 0,       # size of top gutter
// gutter-bottom : 0,       # size of bottom gutter
// gutter-left   : 10px,    # size of left gutter
// gutter-right  : 10px,    # size of right gutter
// direction : ltr,         # direction
// dir-attribute : false,   # if need to generate support for dir="rtl" in order to set part of layout direction
// states-classes : false,  # if we need to generate the states classes
// name-multiplicator : 1,  # if 5, generate gr-5, gr-10, etc...
// classes-prefix : ''      # the prefix used for all classes


// setup the grid (required)
@include gridle_setup((
  context : 12,
  gutter-width : 32px
));

// register states
@include gridle_register_state(desktop-fullhd, (
  min-width : 1920px
));
@include gridle_register_state(desktop-large, (
  max-width : 1919px
));
@include gridle_register_state(desktop, (
  max-width : 1599px
));
@include gridle_register_state(tablet-large, (
  max-width : 1279px
));
@include gridle_register_state(tablet, (
  max-width : 959px
));
@include gridle_register_state(mobile, (
  max-width : 719px
));
@include gridle_register_state(mobile-small, (
  max-width : 479px
));


// Generate classes:
// @include gridle_generate_classes();
