/*
 * Styles for WYSIWYG editors like TinyMCE or CKEditor
 */
.wysiwyg {
  // Space between elements
  * + h1,
  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6,
  * + p,
  * + blockquote,
  * + ol,
  * + ul,
  * + dl,
  * + table,
  * + figure {
    margin-top: $wysiwyg-space;
  }

  // Lists
  li {
    position: relative;
    padding-left: 40px;

    &::before {
      content: '»';
      position: absolute;
      top: 0;
      left: 0;
      width: 28px;
      text-align: center;
    }

    ol,
    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  ol > li {
    counter-increment: ordered-list;

    &::before {
      content: counter(ordered-list);
    }
  }

  li + li {
    margin-top: 10px;
  }

  dt {
    font-weight: 700;
  }

  // Headlines
  h1 {
    font-size: $wysiwyg-h1-font-size;
    font-weight: $wysiwyg-h1-font-weight;
  }

  h2 {
    font-size: $wysiwyg-h2-font-size;
    font-weight: $wysiwyg-h2-font-weight;
  }

  h3 {
    font-size: $wysiwyg-h3-font-size;
    font-weight: $wysiwyg-h3-font-weight;
  }

  h4 {
    font-size: $wysiwyg-h4-font-size;
    font-weight: $wysiwyg-h4-font-weight;
  }

  h5 {
    font-size: $wysiwyg-h5-font-size;
    font-weight: $wysiwyg-h5-font-weight;
  }

  h6 {
    font-size: $wysiwyg-h6-font-size;
    font-weight: $wysiwyg-h6-font-weight;
  }

  a {
    color: $wysiwyg-link-color;
    text-decoration: $wysiwyg-link-decoration;

    &:hover {
      color: $wysiwyg-link-color-hover;
      text-decoration: $wysiwyg-link-decoration-hover;
    }
  }

  // Images
  img {
    display: inline-block;
    vertical-align: middle;
  }

  img[style*="float:left"],
  img[style*="float: left"],
  img[style*="float:right"],
  img[style*="float: right"] {
    padding-top: $wysiwyg-img-padding;
    padding-bottom: $wysiwyg-img-padding;
  }

  img[style*="float:left"],
  img[style*="float: left"] {
    padding-right: $wysiwyg-img-padding;
  }

  img[style*="float:right"],
  img[style*="float: right"] {
    padding-left: $wysiwyg-img-padding;
  }

  figure img {
    display: block;
  }

  // Blockquotes
  blockquote {
    position: relative;
    font-style: italic;

    &::before {
      content: open-quote;
      font-style: normal;
    }
  }
}
