<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1">
        <title>{% if page_title %}{{ page_title }}{% else %}Pigie{% endif %}</title>
        <link rel="icon" type="image/png" href="images/favicon.png" sizes="96x96">

        <link rel="stylesheet" href="styles/main.css">
        <!--[if lte IE 9]>
            <link rel="stylesheet" href="styles/ie9.css">
        <![endif]-->
        <!--[if lte IE 8]>
            <script src="scripts/libs/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body{% if page_index %} class="page-index"{% endif %}>
        <div class="page-wrap">
            {% block page_header %}{% include "../partials/_header.html" %}{% endblock %}

            <main>
                {% block page_content %}{% endblock %}
            </main>

        </div>

        {% block page_footer %}{% include "../partials/_footer.html" %}{% endblock %}

        <script src="scripts/main.js"></script>
    </body>
</html>
