<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <meta name="format-detection" content="telephone=no">
        <title>{% if page_title %}{{ page_title }}{% else %}Merix Template{% endif %}</title>

        <link rel="stylesheet" href="styles/main.css">
        <script src="scripts/polyfills/polyfills.js"></script>
    </head>
    <body>
        <div class="page-wrapper">
            {% block page_header %}{% include "../partials/_header.html" %}{% endblock %}

            <main>
                {% block page_content %}{% endblock %}
            </main>
        </div>

        {% block page_footer %}{% include "../partials/_footer.html" %}{% endblock %}

        <script src="scripts/main.js"></script>
    </body>
</html>
