.container {
  @include cf();
  @include center($container-width);
  position: relative;
  @include breakpoint(tablet) {
    padding: 0 20px;
  }
}

.page-section {
  @include span(1);
}

.page-list {
  @include col(1/3);
}

.grid {
  @include cf();
}

.icons-list {
  @include cf();
  & > .icon {
    @include col(1/4, $cycle: 4);
    text-align: center;
  }
  @include breakpoint(tablet) {
    & > .icon {
      @include col(1/2, $uncycle: 4, $cycle: 2);
    }
  }
  @include breakpoint(phone) {
    & > .icon {
      @include col(1, $uncycle: 2);
    }
  }
}

.grid-4 {
  @include cf();
  & > * {
    @include col(1/4, $cycle: 4);
    margin-bottom: 10px;
    text-align: center;
    &:nth-child(4n+1) {
      padding: 5px 0;
    }
  }
}

.grid-2 {
  @include cf();
  & > * {
    @include col(1/2, $cycle: 2);
    margin-bottom: 10px;
    text-align: center;
  }
}

.pagination {
  @include cf();
  list-style: none;
  margin: 0;
  li {
    float: left;
  }
}
