{% macro row(kwargs) %}
    {% set name = kwargs.name || null %}
    <div class="{{ kwargs.grid || 'v320-1' }}">
        <div class="grid padding small">
            <p class="v320-1">
                <label for="{{ kwargs.name }}">{{ kwargs.label }}</label>
            </p>
            <p class="v320-1">
                {% if kwargs.type === 'text' %}
                    {{ bigTextfield({'id': name, 'name': name })}}
                {% elseif kwargs.type === 'email' %}
                    {{ bigEmailfield({'id': name, 'name': name })}}
                {% elseif kwargs.type === 'password' %}
                    {{ bigPassword({'id': name, 'name': name })}}
                {% elseif kwargs.type === 'textarea' %}
                    {{ textarea({'id': name, 'name': name })}}
                {% elseif kwargs.type === 'select' %}
                    {% set options = kwargs.options || null %}
                    {{ bigSelect({'id': name, 'name': name, 'options': options }) }}
                {% endif %}
            </p>
        </div>
    </div>
{% endmacro %}

{% macro element(tag, type, kwargs) %}
    <{{tag}}
        {% if tag === 'input' || tag === 'password' %}
            type="{{type}}"
            {% for f,v in kwargs %}
                {{ f }} = "{{ v }}"
            {% endfor %}
        {% endif %}

        {% for n,v in kwargs %}
            {% if tag === 'select' and n !== 'options' %}
                {{n}}="{{v}}"
            {% endif %}
        {% endfor %}
    >
    {% if tag === 'select' %}
        {% for v,n in kwargs.options %}
            <option value="{{ v }}">{{ n }}</option>
        {% endfor %}
    {% endif %}

    {% if tag != 'input' %}
        </{{tag}}>
    {% endif %}
{% endmacro %}

{% macro textfield(kwargs) %}
    {{ element('input', 'text', kwargs) }}
{% endmacro %}

{% macro bigTextfield(kwargs) %}
    {% set params = kwargs || {} %}
    {% if params.class %}
        {% set params.class = params.class + ' big' %}
    {% else %}
        {% set params.class = 'big' %}
    {% endif %}
    {{ element('input', 'text', params) }}
{% endmacro %}

{% macro emailfield(kwargs) %}
    {{ element('input', 'email', kwargs) }}
{% endmacro %}

{% macro bigEmailfield(kwargs) %}
    {% set params = kwargs || {} %}
    {% if params.class %}
        {% set params.class = params.class + ' big' %}
    {% else %}
        {% set params.class = 'big' %}
    {% endif %}
    {{ element('input', 'email', params) }}
{% endmacro %}

{% macro password(kwargs) %}
    {{ element('input', 'password', kwargs) }}
{% endmacro %}

{% macro bigPassword(kwargs) %}
    {% set params = kwargs || {} %}
    {% if params.class %}
        {% set params.class = params.class + ' big' %}
    {% else %}
        {% set params.class = 'big' %}
    {% endif %}
    {{ element('input', 'password', params) }}
{% endmacro %}

{% macro select(kwargs) %}
    {% set params = kwargs || {} %}
    {% if !params.options %}
        {% set params.options = {'': '-- empty --', 'lorem': 'Lorem ipsum', 'dolor': 'Dolor sit amet'} %}
    {% endif %}
    <label class="fake-select icon-arrow-down">
        {{ element('select', null, params) }}
    </label>
{% endmacro %}

{% macro bigSelect(kwargs) %}
    {% set params = kwargs || {} %}
    {% if !params.options %}
        {% set params.options = {'': '-- empty --', 'lorem': 'Lorem ipsum', 'dolor': 'Dolor sit amet'} %}
    {% endif %}
    <label class="fake-select icon-arrow-down big">
        {{ element('select', null, params) }}
    </label>
{% endmacro %}

{% macro textarea(kwargs) %}
    {% set params = '' %}
    <label class="textarea-wrapper scrollbar-wrapper">
        <span class="scrollbar-clip">
            <span class="scrollbar-offset">
                <textarea class="scrollable" cols="30" rows="10"{% if kwargs %}
        {% for f,v in kwargs %}
             {{ ' ' + f }}="{{ v }}"
        {% endfor %}
    {% endif %}></textarea>
            </span>
        </span>
    </label>
{% endmacro %}

{% macro checkbox(kwargs) %}
    <label class="checkbox">
        {{ element('input', 'checkbox', kwargs) }}
        <span class="icon-check">{% if kwargs.label %}{{ kwargs.label }}{% else %}&nbsp;{% endif %}</span>
        {% if kwargs.label %}{{ kwargs.label }}{% endif %}
    </label>
{% endmacro %}

{% macro radio(kwargs) %}
    <label class="radio">
        {{ element('input', 'radio', kwargs) }}
        <span>{% if kwargs.label %}{{ kwargs.label }}{% else %}&nbsp;{% endif %}</span>
        {% if kwargs.label %}{{ kwargs.label }}{% endif %}
    </label>
{% endmacro %}

{% macro file(kwargs) %}
    <label>
        {{ element('input', 'file', kwargs) }}
        <span>{% if kwargs.label %}{{ kwargs.label }}{% else %}&nbsp;{% endif %}</span>
    </label>
{% endmacro %}
