{% macro element(tag, type, size, hide_text, variant, label, left_icon, right_icon, kwargs) %}
    {% set params = kwargs || {} %}
    {% if params.class %}
        {% set params.class = params.class + ' button' %}
    {% else %}
        {% set params.class = 'button' %}
    {% endif %}
    {% if right_icon %}
        {% set params.class = params.class + ' icon-' + right_icon %}
    {% endif %}
    {% if size %}
        {% set params.class = params.class + ' ' + size %}
    {% endif %}
    {% if hide_text %}
        {% set params.class = params.class + ' text-hide' %}
    {% endif %}
    {% if variant %}
        {% set params.class = params.class + ' ' + variant %}
    {% endif %}
    {% if !params.href && tag === 'a' %}
        {% set params.href = '#' %}
    {% endif %}
    <{{tag}}
        {% if tag === 'button' %}
            type="{{type}}"
        {% endif %}

        {% for n,v in params %}
            {% if n != 'icons' %}
                {{n}}="{{v}}"
            {% endif %}
        {% endfor %}
    >
        <span
        {% if left_icon %}
            class="icon-{{ left_icon }}"
        {% endif %}
        >
            {{ label|safe || 'Lorem ipsum' }}
        </span>
    </{{tag}}>
{% endmacro %}

{#

    Default links

#}

{% macro link(label, left_icon, right_icon, kwargs) %}
    {{ element('a', null, null, false, null, label, left_icon, right_icon, kwargs) }}
{% endmacro %}

{% macro linkBig(label, left_icon, right_icon, kwargs) %}
    {{ element('a', null, 'big', false, null, label, left_icon, right_icon, kwargs)}}
{% endmacro %}

{% macro linkNoText(label, left_icon, right_icon, kwargs) %}
    {{ element('a', null, null, true, null, label, left_icon, right_icon, kwargs) }}
{% endmacro %}

{% macro linkBigNoText(label, left_icon, right_icon, kwargs) %}
    {{ element('a', null, 'big', true, null, label, left_icon, right_icon, kwargs)}}
{% endmacro %}


{#

    Secondary links

#}

{% macro linkSecondary(label, left_icon, right_icon, kwargs) %}
    {{ element('a', null, null, false, 'secondary', label, left_icon, right_icon, kwargs) }}
{% endmacro %}

{% macro linkSecondaryBig(label, left_icon, right_icon, kwargs) %}
    {{ element('a', null, 'big', false, 'secondary', label, left_icon, right_icon, kwargs)}}
{% endmacro %}

{% macro linkSecondaryNoText(label, left_icon, right_icon, kwargs) %}
    {{ element('a', null, null, true, 'secondary', label, left_icon, right_icon, kwargs) }}
{% endmacro %}

{% macro linkSecondaryBigNoText(label, left_icon, right_icon, kwargs) %}
    {{ element('a', null, 'big', true, 'secondary', label, left_icon, right_icon, kwargs)}}
{% endmacro %}


{#

    Default buttons

#}

{% macro button(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'button', null, false, null, label, left_icon, right_icon, kwargs) }}
{% endmacro %}

{% macro buttonBig(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'button', 'big', false, null, label, left_icon, right_icon, kwargs)}}
{% endmacro %}

{% macro buttonNoText(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'button', null, true, null, label, left_icon, right_icon, kwargs) }}
{% endmacro %}

{% macro buttonBigNoText(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'button', 'big', true, null, label, left_icon, right_icon, kwargs)}}
{% endmacro %}


{#

    Secondary buttons

#}

{% macro buttonSecondary(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'button', null, false, 'secondary', label, left_icon, right_icon, kwargs) }}
{% endmacro %}

{% macro buttonSecondaryBig(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'button', 'big', false, 'secondary', label, left_icon, right_icon, kwargs)}}
{% endmacro %}

{% macro buttonSecondaryNoText(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'button', null, true, 'secondary', label, left_icon, right_icon, kwargs) }}
{% endmacro %}

{% macro buttonSecondaryBigNoText(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'button', 'big', true, 'secondary', label, left_icon, right_icon, kwargs)}}
{% endmacro %}


{#

    Default submits

#}

{% macro submit(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'submit', null, false, null, label, left_icon, right_icon, kwargs) }}
{% endmacro %}

{% macro submitBig(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'submit', 'big', false, null, label, left_icon, right_icon, kwargs)}}
{% endmacro %}

{% macro submitNoText(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'submit', null, true, null, label, left_icon, right_icon, kwargs) }}
{% endmacro %}

{% macro submitBigNoText(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'submit', 'big', true, null, label, left_icon, right_icon, kwargs)}}
{% endmacro %}


{#

    Secondary submits

#}

{% macro submitSecondary(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'submit', null, false, 'secondary', label, left_icon, right_icon, kwargs) }}
{% endmacro %}

{% macro submitSecondaryBig(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'submit', 'big', false, 'secondary', label, left_icon, right_icon, kwargs)}}
{% endmacro %}

{% macro submitSecondaryNoText(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'submit', null, true, 'secondary', label, left_icon, right_icon, kwargs) }}
{% endmacro %}

{% macro submitSecondaryBigNoText(label, left_icon, right_icon, kwargs) %}
    {{ element('button', 'submit', 'big', true, 'secondary', label, left_icon, right_icon, kwargs)}}
{% endmacro %}

