.accordion > .clip {
  overflow: hidden;
  position: relative;
  transition: height 0.25s ease;
  &.closed {
    height: 0 !important;
  }
}

.accordion-toggle {
  &:before {
    content: '\e604';
    font-family: 'Icons';
  }
  &.closed:before {
    content: '\e605';
  }
}

.accordion-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  z-index: -1;
}
