/* Selectbox */
.fake-select {overflow: hidden; position: relative; display: block; width: 100%; white-space: nowrap; cursor: pointer}
.fake-select:before {float: right; margin-left: 10px}
.fake-select .value {overflow: hidden; display: block}
.fake-select select {top: 0; left: 0; width: 100%; height: 100%}
.fake-dropdown {position: absolute}
.fake-dropdown .scrollable {max-height: 200px}
.fake-dropdown a {overflow: hidden; display: block; text-decoration: none; white-space: nowrap}

/* Selectbox style */
.fake-select {padding: 0px 10px; border-bottom: 1px solid #dadada; background: #f2f2f2; color: #928f8f; font-size: 14px; line-height: 34px; outline: none}
.fake-select:before {color: #212121; font-size: 12px; line-height: 34px !important}
.fake-select.big {line-height: 54px}
.fake-select.big:before {line-height: 54px !important}

.fake-dropdown {z-index: 12; margin-top: -1px; background: #fff; border: 1px solid #dcdcdc; border-radius: 0 0 3px 3px; font-size: 14px;}
.fake-dropdown a {padding: 0px 10px; color: #212121; line-height: 34px}
.fake-dropdown a.selected {color: red}
.fake-dropdown a:hover {background: #fafafa}
.fake-dropdown li+li {border-top: 1px solid #eee}
