/*
 * Tabs
 */
.tabs {
    & > ul {
        border-bottom: $border;
        &:after {
            content: '';
            clear: both;
            display: table;
        }
        li {
            position: relative;
            top: 1px;
            float: left;
            display: inline-block;
            button {
                padding: 6px;
                border: $border;
                background: none;
            }
            & + li button {
                border-left: 0;
            }
            &.active button {
                border-bottom-color: #fff;
                color: $link-color;
            }
        }
    }

    & > dl > dt {
        display: none;
        button {
            display: block;
            width: 100%;
            border: none;
            border-bottom: $border;
            background: none;
            text-align: left;
            &.active + dd {
                display: block;
            }
        }
    }
    & > dl > dd {
        display: none;
        & + dt {
            margin-top: $padding;
        }
    }
    & .tab-content {
        padding: $padding;
    }
    @include media('<=tablet') {
        ul {
            display: none;
        }
        dt {
            display: block;
        }
    }
}
