/*
 *   BASE STYLES
 *
 * ! All changes should be overwritten in the file main.css !
 */

html {overflow-y: scroll; -ms-overflow-style: auto; height: 100%}
html.no-scroll {overflow-y: hidden !important}

body {height: 100%; background: #fff; color: #000; font: 12px/1.5 /* 18px */ 'Arial', 'Helvetica', sans-serif}
body * {-moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; text-overflow: ellipsis; list-style: none}

.page-wrap {min-height: 100%}

a {text-decoration: none}
a,
a:hover,
a:active,
a:focus {outline: 0}

figure img {display: block; width: 100%; height: auto}

.block {display: block}
.relative {position: relative}

/* Disable scrollbar and scrolling */
.clip {overflow: hidden}

/* Make container extend to full height, even when containing floated elements. */
.clear:after {content: ''; clear: both; display: block}

/* For backend developers: mark elements as not finished (when integrating templates with backend). */
._placeholder {outline: 2px dashed rgba(255, 0, 255, .33) !important}

/* Text classes */
.text-bold {font-weight: 700}
.text-italic {font-style: italic}
.text-left {text-align: left}
.text-center {text-align: center}
.text-right {text-align: right}
.text-uppercase {text-transform: uppercase}
.text-lowercase {text-transform: lowercase}
.text-hide {text-indent: -999em}

.text-hide[class*="icon-"]:before {float: left; text-indent: 0;}

/* Table scroll */
.table-wrap {width: 100%; overflow-x: auto}

/* Forms */
label {cursor: pointer}

input,
button,
select {vertical-align: middle; outline: none}
textarea {vertical-align: top; outline: none}

button,
select,
label[for],
input[type="reset"],
input[type="radio"],
input[type="button"],
input[type="submit"],
input[type="checkbox"] {cursor: pointer}

button[disabled],
select[disabled],
label[disabled][for],
input[disabled][type="reset"],
input[disabled][type="radio"],
input[disabled][type="button"],
input[disabled][type="submit"],
input[disabled][type="checkbox"] {cursor: default}

input[type="search"] {box-sizing: border-box}

input[type="checkbox"] {position: absolute; visibility: hidden}
input[type="checkbox"]+span {overflow: hidden; display: inline-block; text-indent: -99em; vertical-align: middle; white-space: nowrap; cursor: pointer}
input[type="checkbox"]+span:before {float: left; text-indent: 0; color: transparent; text-align: center}

input[type="radio"] {position: absolute; visibility: hidden}
input[type="radio"]+span {position: relative; overflow: hidden; display: inline-block; text-indent: -99em; vertical-align: middle; white-space: nowrap; cursor: pointer}
input[type="radio"]+span:before {content: ''; position: absolute; margin: auto; background: transparent}

/* Buttons */
.button.text-hide {padding-left: 0; padding-right: 0; text-indent: -999em}
.button.text-hide[class*="icon-"]:before {float: right; width: 100%; margin: auto; text-align: center}

/* Remove default form appearance in iOS */
.ios input, .ios select, .ios textarea {-webkit-appearance: none; border-radius: 0}