////////////
// Global //
////////////
$font-family: Arial, Helvetica, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

$base-font-size: 16px;
$base-line-height: 1.42857143;
$base-font-color: #666;

// body
$body-background: #fff;
$body-font-color: $base-font-color;
$body-font-family: $font-family;
$body-font-size: $base-font-size;



/////////////
// Wysiwyg //
/////////////
$wysiwyg-space: 18px;

// Headlines
$wysiwyg-headline-font-weight: 700;
$wysiwyg-h1-font-weight: $wysiwyg-headline-font-weight;
$wysiwyg-h2-font-weight: $wysiwyg-headline-font-weight;
$wysiwyg-h3-font-weight: $wysiwyg-headline-font-weight;
$wysiwyg-h4-font-weight: $wysiwyg-headline-font-weight;
$wysiwyg-h5-font-weight: $wysiwyg-headline-font-weight;
$wysiwyg-h6-font-weight: $wysiwyg-headline-font-weight;

$wysiwyg-h1-font-size: 32px;
$wysiwyg-h2-font-size: 28px;
$wysiwyg-h3-font-size: 24px;
$wysiwyg-h4-font-size: 20px;
$wysiwyg-h5-font-size: 18px;
$wysiwyg-h6-font-size: 16px;

// Links
$wysiwyg-link-color: #009cdc;
$wysiwyg-link-decoration: none;

$wysiwyg-link-color-hover: #1465ff;
$wysiwyg-link-decoration-hover: underline;

// Images
$wysiwyg-img-padding: 10px;
