{% import '../macros/_macro_buttons.html' as buttons %}

<footer class="page-footer">
    <div class="page-column">
        <div class="grid">
            <div class="v320-1 v320-text-center v720-1-of-4">
                <figure class="logo">
                    <a href="#">
                        <img src="images/logo.svg">
                    </a>
                </figure>
            </div>
            <div class="v320-1 v320-text-center v720-3-of-4 v720-text-right">
                <nav class="footer-menu">
                    <ul class="grid">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                        <li><a href="#">Link 5</a></li>
                        <li><a href="#">Link 6</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
