{% import '../macros/_macro_buttons.html' as buttons %}

<header class="page-header">
    <div class="page-column">
        <div class="grid">
            <div class="v320-1 v720-1-of-4">
                <figure class="logo">
                    <a href="#">
                        <img src="images/logo.svg">
                    </a>
                </figure>
            </div>
            <div class="v320-hide v480-hide v720-3-of-4">
                <nav class="main-menu">
                    <ul class="grid">
                        <li>
                            <a href="#">Link 1</a>
                        </li>
                        <li>
                            <a href="#">Link 2</a>
                        </li>
                        <li>
                            <a href="#">Link 3</a>
                        </li>
                        <li>
                            <a href="#">Link 4</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="mobile-menu"></div>
    </div>
    

    {% if index != true %}
    
    {% endif %}

</header>