<!-- Third-party libraries -->
<script src="scripts/libs/jquery.js"></script>

<!-- Mostly IE8 and IE9 support, probably can be skipped if targeting other browsers. -->
<script src="scripts/polyfills.js"></script>

<!-- Nebula modules -->
<script src="scripts/nebula/require.js"></script>
<script src="scripts/settings.js"></script>
<script src="scripts/nebula/libs/jquery.js"></script>
<script src="scripts/nebula/window.js"></script>
<script src="scripts/nebula/signal.js"></script>
<script src="scripts/nebula/viewport.js"></script>
<script src="scripts/nebula/smart_blocks.js"></script>
<script src="scripts/translate.js"></script>
<script src="scripts/throttle.js"></script>
<script src="scripts/image_loader.js"></script>
<script src="scripts/safe_on.js"></script>
<script src="scripts/detect.js"></script>
<script src="scripts/closest_scrollable.js"></script>
<script src="scripts/offset_relative_to.js"></script>
<script src="scripts/media_set.js"></script>
<script src="scripts/numbers.js"></script>
<script src="scripts/gestures.js"></script>
<script src="scripts/hover.js"></script>

<!-- Put own scripts here. -->
<script src="scripts/widgets/validate.js"></script>
<script src="scripts/widgets/scrollbar.js"></script>
<script src="scripts/widgets/slider.js"></script>
<script src="scripts/widgets/placeholder.js"></script>
<script src="scripts/widgets/tabs.js"></script>
<script src="scripts/widgets/accordions.js"></script>
<script src="scripts/widgets/select_field.js"></script>
<script src="scripts/widgets/file_field.js"></script>
<script src="scripts/widgets/input_count.js"></script>
<script src="scripts/widgets/modal.js"></script>
<script src="scripts/widgets/lightbox.js"></script>
<script src="scripts/widgets/equal_height.js"></script>

<script src="scripts/site.js"></script>
<script src="scripts/nebula/main.js"></script>