.gallery-lightbox {position: fixed; top: 0; left: 0; opacity: 0; z-index: 1000; width: 100%; height: 100%}
.gallery-lightbox--overlay {position: absolute; top:-50px; right: -50px; bottom: -50px; left: -50px; background: rgba(0,0,0,0.9)}
.gallery-lightbox--overlay .loader {position: absolute; top: 0; left: 0; display: none; width: 100%; height: 100%; background: transparent url('../../images/lightbox-load.gif') no-repeat 50% 50%}
.gallery-lightbox--modal {position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); lez-index: 1; text-align: center}
.gallery-lightbox--image {box-shadow: 0 0 20px #000}
.gallery-lightbox--image img {display: block; max-width: 100%; max-height: 100%}
.gallery-lightbox--counter {position: absolute; left: 0; bottom: -20px; width: 100%; color: #eee; font-size: 12px; text-align: left}
.gallery-lightbox--close {position: absolute; top: 0; right: 0; display: block; z-index: 2; width: 40px; height: 40px; background: #fff; border: none; line-height: 40px}
.gallery-lightbox--thumbs {position: absolute; overflow-x: auto; overflow-y: hidden; bottom: 0; left: 0; width: 100%; height: 100px; padding: 10px}
.gallery-lightbox--thumbs-list {width: auto; height: inherit}
.gallery-lightbox--thumbs-list img {width: auto; max-height: 100%}
.gallery-lightbox--next,
.gallery-lightbox--prev {position: absolute; top: 0; left: 0; opacity: 0.2; width: 100px; height: 100%; background: rgba(0, 0, 0, 0); border: none; font-size: 64px; color: #fff; text-align: center; transition: all 0.25s ease}
.gallery-lightbox--next {left: auto; right: 0}
.gallery-lightbox--next:hover,
.gallery-lightbox--prev:hover {opacity: 1; background: rgba(0, 0, 0, 0.4)}

.lightbox-gallery {overflow: hidden; width: 100%; max-width: 1200px; margin: 50px auto; padding: 0}
.lightbox-gallery a {display: block; float: left; width: calc(100% / 7); padding: 5px}
.lightbox-gallery a img {display: block; margin: 0 auto; max-width: 100%}