/* Scrollbar */
textarea {width: 100%; border: 0; background: transparent; resize: none}
.scrollable {overflow-y: scroll !important; overflow-x: hidden}
.scrollbar-wrapper {position: relative; display: block}
.scrollbar-clip {overflow: hidden; display: block}
.scrollbar-offset {display: block}
.scrollbar {position: absolute; overflow: hidden}
.scrollbar .handle {position: absolute; width: 100%}
.scrollbar.hidden {display: none}

/* Scrollbar styles */
.scrollbar {right: 0; top: 0; bottom: 0; width: 5px; background: rgba(33, 33, 33, 0.05)}
.scrollbar .handle {background: #d97d34}