/*
 * Slider
 */
.slider-home {position: relative; overflow: hidden; height: 200px; margin-top: 40px}

.slider {overflow: hidden; width: 100%; height: 100%; margin: 0 auto; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent}
.slider>.grid {height: 100%; white-space: nowrap; word-wrap: normal}
.slider>.grid>* {white-space: normal}
.slide {position: relative; overflow: hidden}

.slide-container {padding: 10px 35px 10px 10px; border-bottom: 5px solid #c9c9c9; background: #fff}

.slider-navigation {position: absolute; top: 50%; z-index: 10; display: inline-block; margin-top: -31px; padding: 20px 25px; border: 3px solid #d2d2d2; background: rgba(255, 255, 255, .75); font-size: 0; transition: all 0.25s ease}
.slider-navigation:before {color: #363636; font-size: 19px; transition: all 0.25s ease}
.slider-navigation.previous {left: -3px}
.slider-navigation.next {right: -3px}
.slider-navigation:hover {border-color: #7f9abc}
.slider-navigation:hover:before {color: #7f9abc}
