html {
  overflow-y: scroll;
  height: 100%;
}

body {
  height: 100%;
  background: $body-background;
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $body-font-size;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

    &::before,
    &::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  }

  .container {
    @include container();
  }

  .row {
    @include row();
  }
}
