a {
	text-decoration: none;
	color: #000;
	transition: color 0.25s ease;
    outline: 0;
	&:hover {
        outline: 0;
		color: #d97d34;
		text-decoration: none;
	}
	&:active,
	&:focus {
        outline: 0;
	}
}

blockquote {
	position: relative;
	padding: 20px 20px 20px 50px;
	border: 1px solid #dadada;
	border-width: 1px 0;
	font-style: italic;
	&:before {
		content: open-quote;
		position: absolute;
		top: 20px;
		left: 0;
		color: #d97d34;
		font-size: 92px;
		font-style: normal;
		line-height: 72px;
	}
}

.text-bold {
	font-weight: 700;
}

.text-italic {
	font-style: italic;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-hide {
	text-indent: -999em;
}

.button {
	&.text-hide {
		padding-left: 0;
		padding-right: 0;
		text-indent: -999em;
	}
	&.text-hide[class*="icon-"]:before {
		float: right;
		width: 100%;
		margin: auto;
		text-align: center;
	}
}

.text-hide[class*="icon-"]:before {
	float: left;
	text-indent: 0;
}
