/*
 * Base styles
 */
html {overflow-y: scroll}
body {min-height: 100%; background: #fff; color: #000; font: 12px/1.5 /* 18px */ 'Arial', 'Helvetica', sans-serif}
body * {-moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; text-overflow: ellipsis; list-style: none}

a {text-decoration: none}

/* Disable scrollbar and scrolling */
.clip {overflow: hidden}

/* Make container extend to full height, even when containing floated elements. */
.clear:after {content: ''; clear: both; display: block}

/* For backend developers: mark elements as not finished (when integrating templates with backend). */
._placeholder {outline: 2px dashed rgba(255, 0, 255, .33) !important}
