/*
 * Base styles
 */
* {margin: 0; padding: 0; text-overflow: ellipsis}
[class] {overflow: hidden; list-style: none; padding: 0}

/* Page defaults */
html {overflow: visible !important; overflow-y: scroll !important; background: #f0f}
body {overflow: visible !important; min-height: 100%; color: #f0f; font: 12px/1.5 /* 18px */ 'Arial', 'Helvetica', sans-serif}

/* Block-level elements */
p,
ul,
ol,
dl,
figure {margin: 18px 0}
ul,
ol {margin-left: 0; padding-left: 24px}
li ul,
li ol {padding-bottom: 0}
h1,
h2,
h3,
h4,
h5,
h6 {margin: 18px 0; font-size: 12px}
dt {font-weight: 700}
table {border-collapse: collapse}

/* Form elements */
textarea,
input,
select,
button {font: 12px 'Arial', 'Helvetica', sans-serif; vertical-align: middle; outline: none}
textarea[class] {overflow: auto}
button,
input[type="radio"],
input[type="checkbox"],
input[type="submit"],
input[type="button"],
input[type="reset"],
label[for],
select {cursor: pointer}

/* Inline elements */
img {border: none; vertical-align: middle}
a {color: #f0f; text-decoration: none; cursor: pointer}
a:hover {text-decoration: underline}


/*
 * Some useful classes
 */

/* Disable scrollbar */
html.no-scroll {overflow: hidden !important}

/* Mark elements as not finished (when integrating with backend). */
._placeholder {outline: 2px dashed rgba(255, 0, 255, .33) !important}
