/*
 * Fonts order:
 * eot svg woff ttf
 */

/*
 * Zerospace
 */
@font-face {
    font-family: 'Zerospace';
    src: url('../fonts/zerospace.eot');
    src:
         url('../fonts/zerospace.eot') format('embedded-opentype'),
         url('../fonts/zerospace.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/titillium-regular-webfont.eot');
    src: url('../fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-regular-webfont.woff') format('woff'),
         url('../fonts/titillium-regular-webfont.ttf') format('truetype'),
         url('../fonts/titillium-regular-webfont.svg#titilliumregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/titillium-light-webfont.eot');
    src: url('../fonts/titillium-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-light-webfont.woff') format('woff'),
         url('../fonts/titillium-light-webfont.ttf') format('truetype'),
         url('../fonts/titillium-light-webfont.svg#titilliumlight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/titillium-semibold-webfont.eot');
    src: url('../fonts/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-semibold-webfont.woff') format('woff'),
         url('../fonts/titillium-semibold-webfont.ttf') format('truetype'),
         url('../fonts/titillium-semibold-webfont.svg#titilliumbold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/titillium-bold-webfont.eot');
    src: url('../fonts/titillium-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-bold-webfont.woff') format('woff'),
         url('../fonts/titillium-bold-webfont.ttf') format('truetype'),
         url('../fonts/titillium-bold-webfont.svg#titillium_bdbold') format('svg');
    font-weight: 700;
    font-style: normal;
}