.page-footer {width: 100%; min-height: 60px; border-top: 1px solid #d7d7d7; background: #f7f7f7}
.page-wrap {margin-bottom: -61px; padding-bottom: 61px}

.page-footer .logo {display: inline-block; width: 140px; height: 44px; margin: 8px 0}

.page-footer .footer-menu {}
.page-footer .footer-menu > ul > li {display: inline-block}
.page-footer .footer-menu > ul > li > a {display: block; padding: 18px}

