/*
 * Forms and form fields
 */

/* Input style */
input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="url"],
input[type="password"],
.textarea-wrapper {width: 100%; padding: 7px 10px; border: none; border-top: 1px solid #f2f2f2; border-bottom: 1px solid #dadada; background: #f2f2f2; color: #928f8f; font-size: 14px; vertical-align: middle; outline: none}

input[type="text"].big,
input[type="email"].big,
input[type="search"].big,
input[type="number"].big,
input[type="date"].big,
input[type="url"].big,
input[type="password"].big {padding: 17px 10px}

input[type="file"] {display: none}
input[type="file"] + span {color: #D97D34; transition: color 0.25s ease}
input[type="file"] + span:before {margin-right: 5px; color: #212121; font-size: 12px; transition: color 0.25s ease}
input[type="file"] + span:hover {color: #212121}
input[type="file"] + span:hover:before {color: #ccb423}

/* Button style */
.button {overflow: hidden; display: inline-block; padding: 12px 25px; border: none; background: #D97D34; color: #fff; font-family: 'Titillium', 'Open Sans', 'Arial', 'Helvetica', sans-serif; font-size: 12px; line-height: 1; text-align: left; text-transform: uppercase; vertical-align: middle; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; white-space: nowrap}
.button.block {display: block; width: 100%}
.button.big {padding: 19px 36px; font-size: 17px}
.button.disabled, .button:disabled {color: #fff; opacity: 0.5; cursor: default}

.button.active:not(.disabled):not(:disabled),
.button:hover:not(.disabled):not(:disabled) {background: #fd913b; color: #fff}

.button.secondary {background: #f2f2f2; color: #000}
.button.secondary.disabled, .button.secondary:disabled {color: #000}
.button.secondary.active:not(.disabled):not(:disabled),
.button.secondary:hover:not(.disabled):not(:disabled) {background: #dadada}

.button:before,
.button>span:before {text-indent: 0; text-shadow: none}
.button:before {float: right; margin-left: 25px}
.button>span:before {float: left; margin-right: 25px}
.button.big:before {margin-left: 36px}
.button.big>span:before {margin-right: 36px}

.button.text-hide {width: 40px; padding-left: 0; padding-right: 0; text-indent: -999em}
.button.text-hide.big {width: 55px}

/* Errors */
.error input,
.error.fake-select {border: 1px solid #F06060}
.error-message {color: #F06060}

/* Checkbox style */
input[type="checkbox"]+span {width: 20px; height: 20px; border: 1px solid #dcdcdc; background: #fff}
input[type="checkbox"]+span:before {width: 100%; height: 100%; font-size: 12px; line-height: 18px; transition: color 0.25s ease}
input[type="checkbox"]:checked+span:before {color: #d97d34}

/* Radio style */
input[type="radio"] {position: absolute; visibility: hidden}
input[type="radio"]+span {width: 20px; height: 20px; border: 1px solid #dcdcdc; border-radius: 20px; background: #fff}
input[type="radio"]+span:before {top: 0; right: 0; bottom: 0; left: 0; width: 10px; height: 10px; border-radius: 10px; transition: background 0.25s ease}
input[type="radio"]:checked+span:before {background: #d97d34}

/* Selectbox style */
.fake-select {padding: 0px 10px; border-bottom: 1px solid #dadada; background: #f2f2f2; color: #928f8f; font-size: 14px; line-height: 34px; outline: none}
.fake-select:before {color: #212121; font-size: 12px; line-height: 34px !important}
.fake-select.big {line-height: 54px}
.fake-select.big:before {line-height: 54px !important}

.fake-dropdown {z-index: 12; margin-top: -1px; background: #fff; border: 1px solid #dcdcdc; border-radius: 0 0 3px 3px; font-size: 14px;}
.fake-dropdown a {padding: 0px 10px; color: #212121; line-height: 34px}
.fake-dropdown a:hover {background: #fafafa}
.fake-dropdown li+li {border-top: 1px solid #eee}

/* Scrollbar */
.scrollbar {right: 0; top: 0; bottom: 0; width: 5px; background: rgba(33, 33, 33, 0.05)}
.scrollbar .handle {background: #d97d34}