/*
 * Grid
 */
.grid {font-family: 'Zerospace'; font-size: 0}
.grid>* {display: inline-block; font-family: 'Arial', 'Helvetica', sans-serif; font-size: 16px; vertical-align: top}
.grid.bottom>* {vertical-align: bottom}
.grid.middle>* {vertical-align: middle}

.grid.padding {margin: -30px 0 0 -30px}
.grid.padding>* {padding: 30px 0 0 30px}

.grid.padding.small {margin: -10px 0 0 -10px}
.grid.padding.small>* {padding: 10px 0 0 10px}

.grid.padding.big {margin: -50px 0 0 -50px}
.grid.padding.big>* {padding: 50px 0 0 50px}
