.page-header {position: relative; z-index: 3; height: 107px; border-bottom: 1px solid #d7d7d7; background: #f7f7f7}

.page-header .logo {display: table-cell; width: 100%; max-width: 225px; height: 105px; margin: 18px 0; vertical-align: middle}

.page-header .main-menu {float: right}
.page-header .main-menu > ul > li {display: inline-block}
.page-header .main-menu > ul > li > a {display: block; padding: 43px 34px;}

.mobile-menu {display: none}
.mobile-menu .icon-menu {position: absolute; width: 35px; height: 35px; top: 42px; right: 25px; font-size: 24px; cursor: pointer}
.mobile-menu .icon-menu:hover,
.mobile-menu .icon-menu.active {color: #d97d34}
.mobile-menu nav {display: none; position: absolute; top: 107px; left: 0; overflow: hidden; width: 100%; background: #fff; border-bottom: 1px solid #d7d7d7; text-align: center}
.mobile-menu nav li {transition: all 0.25s ease}
.mobile-menu nav li a {display: block; padding: 8px 10px}
.mobile-menu nav li:hover a {background: #fafafa}
.mobile-menu nav li + li {border-top: 1px solid #d7d7d7}
.viewport-480 .mobile-menu,
.viewport-320 .mobile-menu {display: block}