/*
 * Reset browser styles
 */
* {margin: 0; padding: 0; text-overflow: ellipsis}
html {overflow: visible !important; min-height: 100%; padding-bottom: 1px !important}
body {overflow: visible !important; background: #fff; color: #666; font: 12px/1.5 "Arial", "Helvetica", sans-serif}
p, ul, ol, dl {padding-bottom: 12px}
ul, ol {margin-left: 0; padding-left: 24px}
li ul, li ol {padding-bottom: 0}
[class] {overflow: hidden; list-style: none; padding: 0}
h1, h2, h3, h4, h5, h6 {font-size: 12px}
dt {font-weight: 700}
table {border-collapse: collapse}
img {border: none; vertical-align: middle}
a {color: #d81630; text-decoration: none; cursor: pointer}
a:hover {text-decoration: underline}
textarea, input, select, button {font: 12px "Arial", "Helvetica", sans-serif; vertical-align: middle}
textarea[class] {overflow: auto}
button, input[type="radio"], input[type="checkbox"], input[type="submit"], input[type="button"], input[type="reset"], label[for], select {cursor: pointer}
input, select, textarea {outline: none}

html.no-scroll body {overflow: hidden !important}


/*
 * The End
 */
