/* BASE ELEMENTS */
body,
.grid > * {font-family: 'Titillium', 'Arial', 'Helvetica', sans-serif; font-size: 16px}

a {color: #000; transition: color 0.25s ease}
a:hover {color: #d97d34; text-decoration: none}

blockquote {position: relative; padding: 20px 20px 20px 50px; border: 1px solid #dadada; border-width: 1px 0;font-style: italic}
blockquote:before {content: open-quote; position: absolute; top: 20px; left: 0; color: #D97D34; font-size: 92px; font-style: normal; line-height: 72px}

table {width: 100%; border-spacing: 10px; color: #212121; font-size: 13px}
table tr>* {padding: 15px 30px; background: #F7F7F7; text-align: left}
table tr:nth-child(2n+1)>* {background: #F2F2F2}
table tr+tr>* {border-top: 1px solid #fff}
table tr>* {border-left: 1px solid #fff}
table th {font-size: 18px; text-transform: uppercase}

.page-column {width: 100%; max-width: 1240px; margin: 0 auto; padding: 0 20px}

/* MODAL */
.overlay .overlay-content {padding: 100px 0}
.overlay .overlay-background {background: #000}

.box-modal {background: #fff}
.box-modal .close {position: absolute; top: 10px; right: 10px; color: #fff; font-size: 10px; cursor: pointer}
.box-modal .modal-title {display: table; width: 100%; height: 55px; background: #D97D34; color: #fff; font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif}
.box-modal .modal-title h1 {display: table-cell; font-size: 16px; line-height: 16px; text-align: center; letter-spacing: 1px; vertical-align: middle}
.box-modal .modal-content {padding: 20px}