/*
 * Reset browser styles
 */
* {margin: 0; padding: 0}
html {min-height: 100%; padding-bottom: 1px}
body {background: #fff; color: #000; font: .75em/1.5 "Arial", "Helvetica", sans-serif}
body * {overflow: hidden}
p, ul, ol, dl {padding-bottom: 1em}
ul, ol {margin-left: 0; padding-left: 2em}
ul[class], ol[class] {list-style: none; padding: 0}
h1, h2, h3, h4, h5, h6 {font-size: 1em}
dt {font-weight: 700}
table {border-collapse: collapse}
img {border: none; vertical-align: middle}
a {color: #00f; text-decoration: none; outline: none; cursor: pointer}
a:hover {text-decoration: underline}
textarea, input, select, option, optgroup, button {font: 1em "Arial", "Helvetica", sans-serif}
button, [type="radio"], [type="checkbox"], [type="submit"], [type="button"], [type="reset"], label[for], select {cursor: pointer}

/* Reset padding in buttons in Firefox */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {padding: 0; border: none}


/*
 * Some globally used classes
 */
.left {float: left !important}
.right {float: right !important}

.text-left {text-align: left !important}
.text-center {text-align: center !important}
.text-right {text-align: right !important}

.no-margin {padding-bottom: 0 !important}
.margin {padding-bottom: 1em !important}


/*
 * The End
 */
